/* CSS declarations go here */

body {
  background: url('pattern_130.gif');
}

.panel {
  position: relative;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.content {
  /*padding: 10px;*/
}

.loginTemp {
  position: absolute;
  top: 20px;
  right: 20px;
}

.sortable-parent {
  vertical-align: middle !important;
  font-size: 2.5em;
  color:darkgray;
}

.sortable-handle {
  cursor: ns-resize;
}

.sortable-ghost {
  opacity: 0.6;
}